<span class="place-holder"> </span>

<a class="side-nav-icon" routerLink="home" routerLinkActive="active">
  <mat-icon>home_outlined</mat-icon>
</a>

<a class="side-nav-icon" routerLink="menu" routerLinkActive="active">
  <mat-icon>list_alt</mat-icon>
</a>

<div style="flex: 1 0 auto"></div>

<div class="side-nav-icon" [matTooltip]="tokenData.userName">
  <span class="auto-avatar avatar" [matMenuTriggerFor]="userMenu">{{ 'C' }}</span>
</div>

<mat-menu #userMenu="matMenu">
  <mat-list>
    <!-- todo: user name is not being shown styling explicity for now-->
    <mat-list-item style="color: rgba(0, 0, 0, 0.87)">
      <span>Logged in as </span>&nbsp;<b>{{ tokenData.email }}</b>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
  <button mat-menu-item (click)="logout()" translate>Logout</button>
</mat-menu>
