<p>menu-landing works!</p>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <span style="justify-self: center; align-self: center">Menus</span>
      <span style="flex: 1 1 auto"></span>
      <button (click)="createMenu($event)" mat-icon-button>
        <mat-icon>add</mat-icon>
      </button>
    </mat-expansion-panel-header>
    <div class="menu-grid">
      <mat-card *ngFor="let menu of menus | async" (click)="openMenu(menu._id)" class="menu">
        <mat-card-header>
          <mat-card-title>{{ menu.name }}</mat-card-title>
          <mat-card-subtitle>Categories: {{ menu.categories.length }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content> </mat-card-content>
      </mat-card>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <span style="justify-self: center; align-self: center">Products</span>
      <span style="flex: 1 1 auto"></span>
      <button (click)="createProduct($event)" mat-icon-button>
        <mat-icon>add</mat-icon>
      </button>
    </mat-expansion-panel-header>
    <div class="menu-grid">
      <mat-card *ngFor="let product of products | async; let i = index" class="menu">
        <div class="productHeader" fxLayout="row">
          <img mat-card-avatar [src]="domSanitizer.bypassSecurityTrustUrl(product.icon)" />
          <div fxLayout="column" style="flex: 1 1 auto">
            <mat-card-title>{{ product.name }}</mat-card-title>
            <mat-card-subtitle>Cost: {{ product.basePrice }}</mat-card-subtitle>
          </div>
        </div>
        <mat-card-subtitle>{{ product.description }}</mat-card-subtitle>
        <div fxLayout="row">
          <span style="flex: 1 1 auto"></span>
          <mat-icon (click)="editProduct(i)">edit</mat-icon>
          <mat-icon>star_outline</mat-icon>
          <mat-icon>visibility_off</mat-icon>
        </div>
      </mat-card>
    </div>
  </mat-expansion-panel>
</mat-accordion>
