:host {
  display: flex;
  flex: 1;
  height: 100%;
}

.container {
  padding: 16px 16px;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: calc(100% - 64px);
  overflow: auto;
  background-color: transparent;
}

.header {
  z-index: 2;
}

.main-contanier {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-image: linear-gradient(135deg, #f0ff00 10%, #58cffb 100%);
}

.side-nav-list {
  max-width: 53px !important;
  min-width: 45px !important;
}

.avatar {
  border: 1px solid white;
  border-radius: 100%;
  width: 32px !important;
  height: 32px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black !important;
  cursor: pointer;
}

.flex-gap {
  flex: 1 0 auto;
}

.right-bar {
  width: 8px;
}
