<div class="header">
  <mat-card-title>{{ (menu | async)?.name }}</mat-card-title>
  <span style="flex: 1 1 auto"></span>
  <button
    *ngIf="shouldShow"
    (click)="createCategory()"
    mat-icon-button
    style="background-color: greenyellow; color: white"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>
<div>
  <mat-expansion-panel *ngFor="let category of (menu | async)?.categories">
    <mat-expansion-panel-header> {{ category.cname }} </mat-expansion-panel-header>
    content
  </mat-expansion-panel>
</div>
