<div class="header">
  <mat-card-title>{{ (menu | async)?.name }}</mat-card-title>
  <span style="flex: 1 1 auto"></span>
  <button
    *ngIf="shouldShow"
    (click)="createCategory()"
    mat-icon-button
    style="background-color: greenyellow; color: white"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>
<div>
  <mat-expansion-panel *ngFor="let category of (menu | async)?.categories">
    <mat-expansion-panel-header>
      <span style="justify-self: center; align-self: center">{{ category.cname }}</span>
      <span style="flex: 1 1 auto"></span>
      <button (click)="editCategory($event, category)" mat-icon-button>
        <mat-icon>edit</mat-icon>
      </button>
    </mat-expansion-panel-header>
    <app-products-grid [products]="category.products"></app-products-grid>
  </mat-expansion-panel>
</div>
