<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <span style="justify-self: center; align-self: center">Menus</span>
      <span style="flex: 1 1 auto"></span>
      <button (click)="createMenu($event)" mat-icon-button>
        <mat-icon>add</mat-icon>
      </button>
    </mat-expansion-panel-header>
    <div class="menu-grid">
      <mat-card *ngFor="let menu of menus | async; let i = index" (dblclick)="openMenu(menu._id)" class="menu">
        <mat-card-header>
          <mat-card-title>{{ menu.name }}</mat-card-title>
          <mat-card-subtitle>Categories: {{ menu.categories.length }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <button mat-icon-button class="button-pull-right" (click)="deleteMenu(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-expansion-panel>
</mat-accordion>
